<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--setting:控制mybatis全局行为-->
<!--     <settings>
         &lt;!&ndash;设置mybatis日志&ndash;&gt;
         <setting name="logImpl" value="STDOUT_LOGGING"/>
     </settings>-->
    <!--设置别名-->
    <typeAliases>
        <!--实体类包名-->
        <package name="com.jiaojiao.domain"/>
    </typeAliases>

    <!--sql mapper(sql映射文件)-->
    <mappers>
        <!--
            mapper.xml文件所在包名
            使用package的要求
            1.mapper文件名称和dao接口名称必须完全一样
            2.mapper文件和dao接口必须在同一目录
        -->
        <package name="com.jiaojiao.dao"/>
    </mappers>
</configuration>